img {
  display: block;
  max-width: 450px;
  max-height: 450px;
  width: auto;
  height: auto;
}

.gyfcat {
	position: relative;
	padding-bottom: 100%
}

iframe {
	position: absolute;
	top: 0;
	left: 0;
}