img {
  max-width: 450px;
  max-height: 450px;
  width: auto;
  height: auto;
}

.gyfcat {
	position: relative;
	padding-bottom: 100%
}

iframe {
	position: absolute;
	top: 0;
	left: 0;
}

.comment {
	width: 800px;
	margin-bottom: 30px;
}

ul {
    list-style:none;
    padding-left:0;
}​