body {
	margin: 0;
	font-family: play, Arial;
	font-size: 15px;
}

nav {
	display: flex;
}

/*align checkbox*/
label input[type=checkbox]{
    position: relative;
    vertical-align: middle;
    top: 0.5px;
}

input[type=submit] {
	background-color: white;
	border: 2px solid black;
	border-radius: 5px;
}

select {
	font-size: 13px;
}

.container {
	margin-left: 15%;
	margin-right: 15%;
}

#main-logo {
	margin-right: 30px;
	width: 90px;
	height: 90px;
}

#main-title {
    display: flex;
    align-items: center;
	font-size: 30px;
}

#main-title h1 {
	margin: 0;
	white-space: nowrap;
	font-family: "Lobster", "Segoe UI", Tahoma, sans-serif;
}

#settings-header, #about-header {
	font-weight: normal;
	font-size: 45px;
}

.tab {
	height: 35px;
	margin: 35px 0px 0px 40px;
	font-size: 25px;
}

.tab:hover {
	cursor: pointer;
}

.option {
	margin-bottom: 20px;
}

#options {
	position: absolute;
	left: 15%;
	top: 100px;
	margin-right: 15%;
}

#about {
	visibility: hidden;
	position: absolute;
	left: 15%;
	top: 100px;
	margin-right: 15%;
}

#success-message {
	color: red;
}

