img {
  max-width: 500px;
  max-height: 500px;
  width: auto;
  height: auto;
  display: block;
}

.gfycat {
  max-width: 500px;
  max-height: 500px;
  width: 500px;
  height: 500px;

}

.gfycat-iframe {
	width: 100%;
	height: 100%;
}

.comment {
	width: 770px;
	margin-bottom: 10px;
}

p {
  margin: 5px 0 0 0;
}

ul {
    list-style:none;
    padding-left:0;
}​

.level-1 {

}

.level-2 {
  text-indent: 15px;
}

.level-3 {
  text-indent: 30px;
}

.level-4 {
  text-indent: 45px;
}

.level-5 {
  text-indent: 60px;
}

